@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');

*{
  text-align: center;
  font-family: 'Josefin Slab', serif;
}


/*FORM BEGIN*/

.container{
  background: linear-gradient(100deg, #72efdd 50%,#80ffdb 0);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer, .taskList-container, .detail-container{
  background-color: #6930c3;
  color: white;
  width: 25%;
  min-width:28.125rem;
  height: 37.5rem;
  padding: .875rem;
  box-sizing: border-box;
  border-radius: .375rem;
  box-shadow: 0 15px 30px rgba(4, 40, 49, 0.4);
}

h2 {
  font-weight: 600;
  font-size: 30px;
  margin: 2.313rem;

}


form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.625rem;
}


label{
  margin-bottom: .5rem;
  font-size: 18px;
  font-weight: 600;
}

input, textarea, .datePicker input{
  background-color: #5e60ce;
  color: #fff;
  margin-bottom: 1.5rem;
  width: 18.75rem;
  min-width: 15.625rem;
  padding: 15px 10px 10px 20px;
  font-family: 'Josefin Sans',serif;
  font-size: 0.938rem;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.datePicker input{
  margin-bottom: .1rem;
}

.datePicker .MuiInput-underline::before{
  display:none;
}



 .taskButton{
  min-width: 6.25rem;
  background-color: #5390d9; 
  color: white;
  border:none;
  font-family:'Montserrat', sans-serif;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  padding: .5rem 1rem;
} 

 
.taskButton:hover{background-color: #48bfe3;}
  


.tasksLink{
  color:#fff;
  font-weight: bold;
  transform: scale(0.87);
}

.tasksLink:hover{
  transform: scale(0.90);
  transition: all 0.3s ease-in-out;
  font-size: 18px;
  color: #80ffdb;
}

/*FORM END*/


/******************************************************************************/


/*TASK LIST BEGIN*/

.btn-back{
  float: left;
  font-size: 2rem;
  color: #64dfdf;
 
}

.btn-back:hover{color: #80ffdb;}
  

.taskList-container, .detail-container
  {background-color: #5e60ce;}
  

.list-item{
  display: flex;
  justify-content: space-between;
  margin: 28px 0;
  padding-bottom: 3px; 
}


.list-item span{
  font-size: 18px;
  cursor: pointer;
}

.list-item span:hover{
  color: #80ffdb;
  font-weight: bold;
}

.list-item--buttons{margin-right: 2.5rem;}
  

.task-btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-edit, .btn-delete{
  color: white;
  
}

.btn-edit:hover{
  color: #80ffdb;
  font-size: 1.2rem;
}

.btn-delete{
  color: rgb(243, 92, 92);
}

.btn-delete:hover{
  font-size: 1.2rem;
}


/*TASK LIST END*/

/***************************************************************/

/*TASK DETAIL BEGIN*/
.detail-container p{
  font-size: 20px;
}
.detail-container span{
  font-weight: bold;
}

/*TASK DETAIL END*/

/*BEGIN THE LOGIN*/
.base-container {
  width: 100%;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.base-container  .header{
  font-size:35px;
  font-weight: bold;
}

.content{
  display: flex;
  flex-direction: column;
}

.content .image{
  width: 21em;
}

.content .image img{
  width: 100%;
  height: 100%;
}

.content .form{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .form .form-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
}

.content .form .form-group label{
  font-size: 20px;
}

.content .form .form-group input{
  margin-top: 6px;
  min-width:18em;
  height: 37px;
  padding: 0px 10px;
  font-size: 16px;
  background-color:#5e60ce;
  border: 0;
  border-radius: 4px;
  margin-bottom: 31px;
  transition: all 250ms ease-in-out;
}

.content .form .form-group input:focus{
  outline: none;
  box-shadow: 0px 0px 12px 0.8px #80ffdb;
}